{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-xl-12">
        <div class="card bg-secondary shadow h-100">
            <div class="card-header bg-white border-0">
                <div class="row align-items-center">
                    <div class="col-8">
                        <h1 class="mb-0">List of Supply</h1>
                    </div>
                    <div class="col-4 text-right">
                        <a href="{% url 'Inventory-create' %}" class="btn btn-sm btn-success">Create</a>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">ITEM</th>
                        <th scope="col">AMOUNT</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for Inventory in Inventorys %}
                        {% if Inventory.camp_id == user.username%}
                            <tr class="table-light">
                                <td>
                                    <a href="{% url 'Inventory-detail' Inventory.id %}">{{Inventory.id}}</a>
                                </td>
                                <td>{{Inventory.item_id}}</td>
                                <td>{{Inventory.item_amt}}</td>
                                <td class="text-right">
                                    <div class="dropdown">
                                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="{% url 'Inventory-update' Inventory.id %}">Update</a>
                                        <a class="dropdown-item" href="{% url 'Inventory-delete' Inventory.id %}">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer py-4">
            {% if is_paginated %}
                {% include "_pagination.html" %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
